/*==Reset CSS==*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  max-width: 1040px;
  margin-left: auto;
}
#menu {
  color: #506690;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu-center {
  display: flex;
  /* margin-left: 10%; */
  /* margin-right: 10%; */
}
.header-center1 {
}
#headerland {
  width: 100px;
  /* height: 40px; */
  font-size: 23px;
  font-weight: bold;
  color: #335eea;
  padding-left: 22px;
  padding-right: 9px !important;
  padding-top: 1%;
}
#header-center {
  width: 74%;
  text-align: center;
  /* margin-right: 10%; */
  padding-right: 5%;
}
#buy {
  color: white;
  background-color: #335eea;
  border-radius: 7px;
  /* text-align: center; */
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px !important;
  padding-bottom: 10px;
  border: none;
  font-size: 16px;
  flex-shrink: 0;
  font-weight: 600;
  /* width: 9%; */
}
.header-center-1 {
  position: relative;
  padding-bottom: 10px;
  padding-left: 3%;
  padding-right: 3%;
}
#menu li {
  line-height: 30px;
  padding-top: 1%;
  /* width: 120px; */
  display: inline-block;
}
#menu a {
  text-decoration: none;
  display: block;
  width: 100%;
}
#menu a:hover {
  background: #f1f1f1;
  color: #333;
}
.sub-menu li {
  display: none;
}
#menu li {
  position: relative;
}
.sub-menu {
  display: block;
  top: 200%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.25s cubic-bezier(0.4, 0, 1, 1);
  opacity: 0;
  z-index: -1;
  line-height: 1.6;
}
#menu li:hover .sub-menu {
  opacity: 1;
  top: 100%;
  z-index: 1;
}
h3,
h4 {
  color: #ffffff;
}
.block1 {
  width: 100%;
  height: 300px;
  background-color: white;
  text-align: left;
  display: flex;
  border-radius: 7px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.block2 {
  width: 100%;
  /* height: 350px; */
  background-color: white;
  padding-left: 20px;
  text-align: left;
  display: flex;
  padding-right: 15px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  border-radius: 7px;
  padding-top: 2%;
  padding-bottom: 4%;
}
.block211 {
  margin-top: 10px;
  height: 40%;
}
.block212 {
  /* margin-top: -2px; */
  /* height: 50%; */
}
.block221 {
  margin-top: 8px;
  /* height: 40%; */
  width: 100px;
}
.block3 {
  width: 150px;
  background-color: white;
  padding-left: 15px;
  text-align: left;
  display: flex;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  border-radius: 7px;
}
.block23 {
  margin-top: 10px;
  margin-left: 5px;
}
.block24 {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 2%;
}
.block4 {
  background-color: white;
  padding-left: 15px;
  text-align: left;
  padding-right: 36px;
  padding-top: 10px;
  width: 100%;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  border-radius: 7px;
}
.t11 {
  height: 40%;
  width: 100px;
}
.dropdown-header {
  color: #335eea;
  display: grid;
  font-size: 14px;
}
.dropdown-item {
  color: #506690;
  display: grid;
}
.t12 {
  height: 30%;
  padding-top: 40%;
}
.block11 {
  background-image: url("1.jpg");
  width: 50%;
  background-repeat: round;
  position: relative;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.block11::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 94, 234, 0.8);
  border-radius: inherit;
}
.block12 {
  width: 50%;
  display: flex;
}
.block13 {
  width: 150px;
  height: 400px;
  /* margin-left: 20px; */
  padding-left: 20px;
}
.block11-center {
  text-align: center;
  margin-top: 30%;
  position: relative;
}
.block11-center-text1 {
  margin-bottom: 8%;
}
.block11-center-text2 {
  color: #335eea;
  width: 150px;
  /* height: 30px; */
  float: right;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  padding-top: 10px;
  margin-right: 70px;
  padding-bottom: 4%;
}
.clear {
  clear: both;
}
i.fas.fa-arrow-right {
  padding-left: 10;
  padding-left: 10px;
}

i.hide.fas.fa-bars {
  display: none;
}

@media all and (max-width: 900px) {
  .header-center1 {
    display: none;
  }
}
@media all and (max-width: 900px) {
  button#buy {
    display: none;
  }
}
@media all and (max-width: 900px) {
  i.hide.fas.fa-bars {
    display: block;
    margin-top: 30px;
    /* margin-right: 50px; */
    padding-left: 60px;
    font-size: 30px;
    color: grey;
  }
}

/* content */
section.content {
  padding-top: 8%;
}
.content-head-left {
  width: 50%;
  /* padding-right: 15%; */
  padding-top: 6%;
}
.content-head-left1 {
  font-size: 2.7rem;
  line-height: 1.2;
  font-weight: 500;
  text-align: left !important;
}
.content-head-left2 {
  font-size: 1.1875rem;
  color: #869ab8 !important;
  font-weight: 400;
  /* height: 25%; */
  text-align: left !important;
  box-sizing: border-box;
  margin-top: 4%;
  margin-bottom: 4%;
}
.content-head-left3 {
  display: flex;
  /* height: 15%; */
  /* width: 70%; */
  /* text-decoration: none; */
  /* display: inline-block; */
  margin-top: 40px;
  /* padding-right: inherit; */
}
.content-head-left31 {
  color: white;
  width: 200px;
  background-color: #335eea !important;
  border-radius: 7px;
  text-align: center;
  /* padding-top: 5%; */
  font-weight: 600;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  padding: 0.7rem 1rem;
  display: flex;
}
.content-head-left311 {
  color: white;
  width: 100%;
  background-color: #335eea !important;
  border-radius: 7px;
  text-align: center;
  /* padding-top: 5%; */
  font-weight: 600;
  font-size: 16px;
  /* margin-right: 10px; */
}
.content-head-left32 {
  color: #335eea !important;
  width: 200px;
  background-color: #d2dae6e0 !important;
  border-radius: 7px;
  text-align: center;
  /* padding-top: 5%; */
  font-weight: 600;
  font-size: 16px;
  /* margin-right: 10px; */
  text-decoration: none;
  padding: 0.7rem 1rem;
  display: flex;
}
.content-head-left321 {
  color: #335eea;
  width: 100%;
  background-color: #d4dae4;
  border-radius: 7px;
  text-align: center;
  /* padding-top: 5%; */
  /* margin-right: 10px; */
  font-weight: 600;
  font-size: 16px;
}
a.content-head-left311 {
  text-decoration: none;
}
a.content-head-left321 {
  text-decoration: none;
}
.content-head-right {
  width: 50%;
  /* padding-left: 10%; */
  float: right;
}
.img2 {
  width: 120%;
  max-width: 1200px;
  min-width: 400px;
}
@media screen and (max-width: 1000px) {
  .content-head-left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .content-head-1 {
    flex-direction: column;
  }
}
.row-left {
  width: 33%;
  float: left;
  padding-right: 5%;
}
.row-left-2-text {
  margin-top: 5%;
  font-size: 1.125rem;
}
.row-left-3-text {
  margin-top: 5%;
  color: #869ab8 !important;
  font-size: 1.05rem;
  line-height: 1.7rem;
}
.row-center {
  width: 33%;
  float: center;
  padding-right: 5%;
}
.row-center-2-text {
  margin-top: 5%;
  font-size: 1.125rem;
}
.row-center-3-text {
  margin-top: 5%;
  color: #869ab8 !important;
  /* font-size: 1.125rem; */
  font-size: 1.05rem;
  line-height: 1.7rem;
}
.row-right {
  width: 33%;
  float: right;
}
.row-right-2-text {
  margin-top: 5%;
  font-size: 1.125rem;
}
.row-right-3-text {
  margin-top: 5%;
  color: #869ab8 !important;
  /* font-size: 1.125rem; */
  font-size: 1.05rem;
  line-height: 1.7rem;
}
.border {
  /* height: 20%; */
  display: flex;
  border-style: solid;
  border-top: #e0e4ea solid 0.1px;
  border-bottom: #dfe4ea solid 0.1px;
  border-left: none;
  border-right: none;
}
.bodercenter {
  padding-top: 5%;
  padding-bottom: 5%;
  /* padding-left: 10%; */
}
.dropdown-menu-toggle {
  position: relative;
  width: 100%;
}
.dropdown-menu-toggle:hover .dropdown-menu-show {
  display: block;
}
.dropdown-menu-show {
  position: absolute;
  left: 100%;
  top: 0;
  padding-bottom: 10%;
  border-top-width: 0;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 17%;
  background-color: white;
  display: none;
  color: #335eea;
  width: 150px;
  border-radius: 7px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.block41 {
  padding: 10px;
}
.list-group {
  display: flex;
  width: 100%;
}
.list-group-item1 {
  width: 100%;
  /* margin-left: 5%; */
}
.list-group-item111 {
  color: #335eea;
  font-weight: 600;
}
.header-center11 {
  color: #506690;
  padding-bottom: -6%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  display: block;
  display: none;
  font-weight: 600;
}
.header-center111 {
  color: #506690;
  padding-bottom: -6%;
  font-size: 14px;
}

.img12 {
  padding-top: 15%;
  padding-right: 10%;
}
.img13 {
  padding-top: 12%;
  padding-right: 7%;
  padding-left: 5%;
}
.img14 {
  padding-top: 9%;
  padding-right: -9%;
  padding-left: 11%;
}
.list-group- {
  padding-top: 1%;
  border-bottom: #d4dae4 solid 0.08px;
}
.list-group-item2 {
  width: 100%;
  margin-left: 1%;
  padding-top: 2%;
}
.list-group-item3 {
  width: 100%;
  margin-left: 4%;
  padding-top: 3%;
}
.list-group-item41 {
  width: 100%;
  border-radius: 7px;
  margin-top: 30%;
  margin-left: 20%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: whitesmoke;
  color: #335eea;
}
span {
  color: #335eea;
}
.block121 {
  padding: 10%;
  display: flex;
}
.list-group-item111 {
  font-size: 13px;
}
.list-group-item12 {
  font-size: 13px;
  /* font-weight: 600; */
  color: #506690;
}
.list-group-item4 {
  /* margin-left: 10%; */
}
.content-head-1 {
  display: flex;
}

/* Banner */
.content-head {
  /* padding-top: 6%; */
  /* padding-left: 10%; */
}
.row {
  padding: 8% 0;
  /* padding: 10%; */
  /* padding-top: 8%; */
}
.row1 {
  display: flex;
}
.fas-fa-bars {
  display: none;
}
.block21 {
  padding-right: 10%;
}
.block22 {
  padding-right: 10%;
}
.block23 {
  padding-right: 10%;
}
.block241 {
  /* margin-top: 4%; */
  padding-top: 10px;
}
.block222 {
  /* margin-top: 8px; */
  padding-top: 10px;
}
.dropdown-header1 {
  font-weight: 10px;
  font-weight: 600;
  font-size: 13px;
}
.dropdown-menu-toggle-1 {
  display: flex;
}
.block3-left {
}
.dropdown-menu-show1 {
  width: 100%;
}
.content-head-left21 {
  /* padding-left: 10%; */
  /* padding-right: 21%; */
  font-size: 20px;
  line-height: 2.2rem;
}

.bodercenter1 {
  display: flex;
  /* max-width: fit-content; */
  width: 100%;
}
.bodercenter11 {
  padding-right: 2%;
}
.bodercenter12 {
  padding-left: 3%;
  padding-right: 2%;
}
.bodercenter13 {
  padding-left: 3%;
  padding-right: 2%;
}

.about {
  /* padding: 10%; */
  padding-top: 8%;
  background-color: #f5f9f7;
  background-image: linear-gradient(#f5f9f7, #ffffff);
}
.about-center {
  display: flex;
  padding-bottom: 10%;
}
.about-center-left {
  width: 55%;
  padding-right: 12%;
  padding-left: 2%;
}
.about-center-leftleft {
  background-color: white;
  border: solid rgba(22, 28, 45, 0.1) 1px;
  /* color: #f1f4f8; */
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  border-radius: 7px;
}
.about-center-left-2 {
  padding: 7%;
}
.about-center-left-24 {
  margin-top: 27px;
  /* border-radius: 17px; */
}
.about-center-left-211 {
  /* padding: 0%; */
  padding-top: 10px;
  padding-bottom: 21px;
  border-bottom: #dfe4ea solid 0.1px;
  color: #77879ca3;
}
.about-center-left-221 {
  padding-top: 10px;
  padding-bottom: 21px;
  border-bottom: #dfe4ea solid 0.1px;
  color: #77879ca3;
}
.about-center-left-231 {
  padding-top: 10px;
  padding-bottom: 21px;
  border-bottom: #dfe4ea solid 0.1px;
  color: #77879ca3;
}
.about-center-left-241 {
  background-color: #42ba96;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 7px;
  width: 100%;
  color: #ffffff;
}
.about-center-left-2411 {
  /* padding-left: 31%; */
  /* padding-right: 5%; */
}
.about-center-right {
  width: 50%;
}
.about-center-right-right {
  padding-top: 24%;
}
.about-center-right-1 {
  padding-right: 17%;
}
.about-center-right-11 {
  font-size: 30px;
}
.about-center-right-12 {
  font-size: 30px;
  padding-top: 1%;
}
.sp1 {
  color: #42ba96;
}
.about-center-right-2 {
  padding-top: 5%;
}
.about-center-right-22 {
  line-height: 2rem;
  font-size: 19px;
  color: #adc5da;
  padding-right: 7%;
}
.about-center-right-3 {
  padding-top: 10%;
  color: #42ba96;
}
.about-center-right-3a {
  display: flex;
}
.about-center-right-31 {
  display: flex;
}
.about-center-right-32 {
  display: flex;
  margin-left: 27%;
}
.icon {
  padding-right: 10%;
}
.about-center-right-3b {
  display: flex;
  padding-top: 4%;
}
.about-center-right-33 {
  display: flex;
}
.about-center-right-34 {
  display: flex;
  margin-left: 28.5%;
}
.img15 {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
input#name {
  border: 0;
  width: 100%;
  font-size: 15px;
  border-bottom: #dfe4ea solid 0.1px;
}
input#email {
  border: 0;
  width: 100%;
  font-size: 15px;
  border-bottom: #dfe4ea solid 0.1px;
}
input#password {
  border: 0;
  width: 100%;
  font-size: 15px;
  border-bottom: #dfe4ea solid 0.1px;
}

i.far.fa-check-circle {
  font-weight: 600;
  /* background-color: #42ba96; */
  color: #94eae394;
  font-size: 1.25rem;
}
.Bootstrap-center {
  display: flex;
  /* padding: 10%; */
  /* padding-top: 1%; */
  /* padding-left: 10%; */
}
.Bootstrap-center-left {
  /* width: 75%; */
  padding-right: 5%;
}
.Bootstrap-center-right {
  /* width: 120%; */
  position: relative;
}
.Bootsrap-center-right-center {
  /* padding-left: 5%; */
  max-width: 100%;
}
img.img16 {
  max-width: 118%;
  position: relative;
  transform: rotateY(-35deg) rotateX(15deg);
  border-radius: 7px;
  -webkit-transform: rotateY(-35deg) rotateX(15deg);
  box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, 0.1),
    16px 40px 75px -40px rgba(0, 0, 0, 0.2);
}
.Bootsrap-center-right-center1 {
  color: #b7b2b21c;
  position: absolute;
  z-index: -1;
  top: 25%;
  bottom: 0;
  left: 50%;
  width: 82%;
  -webkit-transform: translateX(-50%) scale(1.3);
  transform: translateX(-50%) scale(1.3);
}
.Bootsrap-center-right-center2 {
  width: 100%;
  perspective: 1500px;
  perspective-origin: left center;
}
.Bootstrap-center-left-center11 {
  font-size: 30px;
  width: 110%;
}
.Bootstrap-center-left-center12 {
  color: #335eea;
  font-size: 30px;
  padding-top: 10px;
  width: 110%;
}
.Bootstrap-center-left-center21 {
  padding-top: 20px;
  line-height: 2rem;
  font-size: 19px;
  color: #5f7386de;
}
.Bootstrap-center-left-center3 {
  display: flex;
  padding-top: 6%;
}
.Bootstrap-center-left-center4 {
  display: flex;
  padding-top: 7%;
}
.Bootstrap-center-left-center31 {
  padding-left: 5%;
}
.Bootstrap-center-left-center41 {
  padding-left: 5%;
}
.Bootstrap-center-left-center32 > svg {
  width: 3rem;
  height: 3rem;
}
.Bootstrap-center-left-center42 > svg {
  width: 3rem;
  height: 3rem;
}
.Bootstrap-center-left-center311 {
  font-size: 18px;
}
.Bootstrap-center-left-center312 {
  padding-top: 4%;
  color: #5f7386de;
}
.Bootstrap-center-left-center411 {
  font-size: 18px;
}
.Bootstrap-center-left-center412 {
  padding-top: 4%;
  color: #5f7386de;
}
.Bootstrap {
  /* max-width: 100%; */
  overflow: hidden;
  padding-top: 11%;
}
/* Customer */
section.Customer {
  padding: 10% 0;
  position: relative;
}
.customer-head {
  padding: 0px 2%;
  padding-bottom: 10%;
  text-align: center;
}
.customer-head-11 {
  font-size: 30px;
}
.customer-head-12 {
  margin-top: 2%;
  font-size: 20px;
  color: #5f7386de;
}
.customer-head-13 {
  margin-top: 1%;
  font-size: 19px;
  color: #5f7386de;
}
.customer-centera {
  position: relative;
}
.customer-center-111 {
  display: flex;
  background-color: white;
  border: solid rgba(22, 28, 45, 0.1) 1px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  border-radius: 7px;
  position: relative;
}
img.img18 {
  width: 50%;
  border-radius: 7px;
  clip-path: ellipse(66% 127% at 34% 20%);
}
a.img18 {
  width: 50%;
}

.customer-center-111-left {
  width: 100%;
}
.customer-center-carbody1 {
  padding: 70px;
  position: relative;
}
.Slide {
  display: flex;
}
img.img19 {
  width: 50%;
  border-radius: 7px;
  clip-path: ellipse(66% 127% at 34% 20%);
}

a.img19 {
  width: 100%;
}
.customer-center-111-right {
  width: 50%;
}
.customer-center-111-right1 {
  padding: 10%;
}
.customer-center-carbody11 {
  padding: 0 10%;
  text-align: center;
  margin-bottom: 10%;
}
svg.air {
  color: red;
  width: 50%;
}
svg.ins {
  color: #506690;
  width: 50%;
}
.customer-center-carbody {
  width: 50%;
}
.customer-center-carbody121 {
  font-size: 20px;
  line-height: 30px;
}
.customer-center-carbody121 {
  font-size: 20px;
  line-height: 30px;
}
.customer-center-carbody131 {
  color: #a0a7ad;
  padding-top: 10%;
}
button.btn1 {
  border-radius: 34px;
  font-size: 31px;
  position: absolute;
  border: none;
  left: -55%;
  /* top: -24%; */
  background-color: blue;
}
button.btn2 {
  border-radius: 34px;
  font-size: 31px;
  position: absolute;
  border: none;
  background-color: blue;
  left: 27%;
  top: 20%;
}
svg.flickity-button-icon {
  width: 100%;
}
button.btn1::before {
  font-family: feather;
}
.customer-center-carbody13 {
  text-align: center;
}
i.fas.fa-arrow-left {
  color: white;
  font-size: 53%;
  padding: 17px;
  font-weight: 600;
}
i#iconright {
  color: white;
  font-size: 53%;
  padding: 17px;
  font-weight: 600;
}
.customer-center {
  overflow: hidden;
  position: relative;
  width: 1000px;
  height: 425px;
  z-index: 0;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  border-radius: 7px;
}
#slider {
  width: 4000px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: absolute;
  transition: 0.5s;
  left: -1000px;
}
.item {
  display: inline-block;
  width: 1000px;
  height: 500px;
  display: inline-block;
}
.btn {
  outline: transparent;
}
#preButton {
  /* width: 20px; */
  /* height: 20px; */
  border-radius: 100%;
  position: absolute;
  top: 170px;
  left: -18px;
  background-color: #0a4dce;
  z-index: 1;
  cursor: pointer;
  border: none;
}
#preButton:after {
  content: "";
  width: 50%;
  height: 50%;
  background-image: url("./left.svg");
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}
#nextButton {
  /* width: 20px; */
  /* height: 20px; */
  border-radius: 100%;
  position: absolute;
  background-color: #0a4dce;
  z-index: 1;
  bottom: 215px;
  right: -19px;
  cursor: pointer;
  border: none;
}
#nextButton:after {
  content: "";
  background-image: url("./right.svg");
  width: 50%;
  height: 50%;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* Stay */
section.Stay {
  padding-top: 10%;
  background-color: #f1f4f8 !important;
}
.stay-center-right {
  width: 50%;
  float: right;
  padding: 0 15px;
}
.stay-center-left {
  width: 50%;
  float: left;
  padding: 0 15px;
}
img.img20 {
  width: 100%;
}
.stay-center-left1 {
  font-size: 25px;
  /* letter-spacing: -1px; */
  word-spacing: 3px;
}
.stay-center-left12 {
  color: #335eea;
  padding-top: 10px;
}
.stay-center-left2 {
  margin-top: 10px;
  font-size: 17px;
  color: #353535a3;
  word-spacing: 2px;
  line-height: 26px;
}
.stay-center-left3 {
  padding-top: 25px;
  display: flex;
}
.stay-center-left31 {
  /* padding: 0 10px; */
  padding-right: 20px;
  font-size: 18px;
}
.stay-border {
  border-right: #dfe4ea solid 0.1px;
}
.stay-center-left32 {
  padding-left: 15px;
  padding-right: 20px;
  font-size: 18px;
}
.stay-center-left33 {
  padding-left: 15px;
  font-size: 18px;
}
.stay-center-left312 {
  color: #353535a3;
  padding-top: 8px;
}
.stay-center-left322 {
  padding-top: 5px;
  color: #353535a3;
}
.stay-center332 {
  color: #353535a3;
  padding-top: 5px;
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  width: 0px;
  height: 0px;
}
@media all and (max-width: 820px) {
  .stay-center-left1 {
    font-size: 20px;
  }
  .stay-center-left2 {
    font-size: 15px;
  }
  .stay-center-left31 {
    font-size: 15px;
  }
  .stay-center-left33 {
    font-size: 15px;
  }
  .stay-center-left32 {
    font-size: 15px;
  }
}
@media all and (max-width: 680px) {
  .stay-center-left {
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  .stay-center-right {
    width: 100%;
  }
  .stay-center-left3 {
    padding-left: 30%;
  }
}
@media all and (max-width: 510px) {
  .stay-center-left3 {
    padding-left: 20%;
  }
}
@media all and (max-width: 410px) {
  .stay-center-left3 {
    padding-left: 10%;
  }
}
@media all and (max-width: 340px) {
  .stay-center-left3 {
    padding-left: 0%;
  }
}
/* Fair */
section.fair {
  /* position: relative; */
  padding-top: 10% 0;
  padding: 10% 0;
  background-color: #f1f4f8 !important;
}
.fair1-head1 {
  text-align: center;
}
.fair1-head {
  -webkit-box-pack: center !important;
  justify-content: center !important;
}
.fair1-head1 {
  text-align: center;
  position: relative;
  width: 72%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 15%;
}
.fair1-head11 {
  font-size: 35px;
  margin-bottom: 15px;
}
.fair1-head12 {
  font-size: 21px;
  line-height: 33px;
  color: #353535a3;
}
form.fair1-head13 {
  padding-top: 16px;
  display: flex;
  /* text-align: center; */
  width: 30%;
  margin-left: 33%;
  font-size: 18px;
}
.fair1-head13-1 {
  color: #989090a3;
  margin-right: 10px;
  margin-left: 10px;
}
.fair1-head13-3 {
  color: #989090a3;
  margin: 0 10px;
}
.fair1-head13-2 {
  margin: 0 10%;
  display: block;
  position: relative;
}
input.fair1-head13-2-1 {
  position: absolute;
  left: 0px;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}
label.fair1-head13-2-2 {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}
label.fair1-head13-2-2::before {
  position: absolute;
  /* top: 0.35rem; */
  left: -2.5rem;
  display: block;
  width: 3rem;
  height: 1.75rem;
  pointer-events: none;
  content: "";
  background-color: #d9e2ef;
  border: #abbcd5 solid 0;
  /* top: .2rem; */
  height: 1.4rem;
  border-radius: 0.6875rem;
  box-shadow: none;
  left: -1.1rem;
  width: 2.5rem;
  pointer-events: all;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border-radius: 1.5rem;
}
label.fair1-head13-2-2::after {
  /* top: .35rem; */
  /* left: -2.8125rem; */
  position: absolute;
  /* top: .35rem; */
  /* left: -1.5rem; */
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%;
  background-color: #fff;
  top: calc(0.3rem + 0px);
  left: calc(-1rem + 0px);
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
}
.fair1-center {
  padding-top: 10%;
  display: flex;
  position: relative;
}
.fair1-center-left {
  width: 50%;
}
.fair-center-right {
  width: 50%;
}
.fair1-center-left {
  background-color: white;
  /* padding: 0 2%; */
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  position: relative;
  z-index: 2;
}
.fair-center-right {
  width: 49%;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  /* padding: 5% 2%; */
  position: absolute;
  left: 48%;
  top: 24%;
  z-index: 1;
  /* height: 113%; */
}
.fair1-center-left11 {
  padding: 10%;
  padding-bottom: 6%;
}
.fair1-center-left11111 {
  text-align: center;
  width: 100%;
}
.fair1-center-left1111 {
  width: 35%;
  margin-left: 32%;
  justify-content: center;
}
p.fair1-center-left111111 {
  background-color: rgba(51, 94, 234, 0.1);
  color: #335eea;
  border-radius: 30px;
  padding: 5px;
  font-size: 15px;
}
.fair1-center-left1112 {
  display: flex;
  /* text-align: center; */
  /* font-size: 40px; */
  /* margin-left: 34%; */
  padding-top: 9%;
  /* width: 35%; */
  justify-content: center;
}
.fair1-center-left11121 {
  font-size: 30px;
  padding-top: 6px;
}
.fair1-center-left11122 {
  font-size: 50px;
}
.fair1-center-left11123 {
  font-size: 30px;
  padding-top: 21px;
}
.fair1-center-left1113 {
  padding: 1% 0;
  justify-content: center;
}
p.fair1-center-left11131 {
  font-size: 17px;
  color: #989090a3;
}
.fair1-center-left1114 {
  display: flex;
  padding: 4% 0;
}
.fair1-center-left11141 {
  font-weight: 600;
  /* background-color: #9bd0c0; */
  color: #94eae394;
  font-size: 1.25rem;
  border: none;
  padding-right: 15px;
}
.fair1-center-left114 {
  padding: 0 10%;
  padding-top: 10%;
}
.fair1-center-left12 {
  display: block;
  width: 100%;
  background-color: #335eea;
  padding: 4% 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
a.getit {
  color: white;
  text-decoration: none;
}
.fair-center-right11111 {
  text-align: center;
  width: 100%;
  width: 35%;
  margin-left: 32%;
  justify-content: center;
}
p.fair-center-right111111 {
  background-color: rgba(51, 94, 234, 0.1);
  color: #335eea;
  border-radius: 30px;
  padding: 5px;
  font-size: 15px;
}
.fair-center-right111 {
  width: 100%;
}
.fair-center-right1111 {
  padding-top: 15%;
  padding-bottom: 5%;
}
.fair-center-right1112 {
  padding: 17% 15%;
  font-size: 18px;
  text-align: center;
  color: #989090a3;
  line-height: 30px;
}
.fair-center-right12 {
  display: block;
  width: 100%;
  background-color: #e8eaf1;
  padding: 4% 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  text-align: center;
}
a.contast {
  color: #5d5a5a;
  text-decoration: none;
}
